<style type="text/css">
	a:link {text-decoration:none; color: #99CC00;} /* Link no visitado*/
	a:visited {text-decoration:none; color:#99CC66} /*Link visitado*/
	a:active {text-decoration:none; color:#99FF00; background:#EEEEEE} /*Link activo*/
	a:hover {text-decoration:underline; color:#99FF00; background: #EEEEEE} /*Mause sobre el link*/
</style>